:root {
  --primary: #275efe;
  --main-color: #e1e6f9;
  --main-font: Montserrat;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  background-color: var(--main-color);
}

.caption {
  margin-top: 0;
  font-weight: 500;
  font-size: 3rem;
}

.caption.center {
  text-align: center;
}

.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .action {
  display: flex;
  justify-content: center;
}

.form-container .form-value {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: 600;
}
